apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment
  labels:
    app: web
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
        app1: web
    spec:
      containers:
      - name: nginx
        image: pradeepcoeb/agro:41
        ports:
        - containerPort: 80
